{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<h2 style="padding-top:5%;">{{ object.lecture }} Ödev #{{ object.number }}</h2>
<hr />
{% bootstrap_messages %}
<dl style="padding-top:5%;padding-bottom:2%;">
  <dt>Ödev Açıklaması: </dt>
  <dd>{{ object.content }}</dd>
  <dt>Ödev: </dt>
  <dd>
    <a href="{{ MEDIA_URL }}{{ object.document }}"<i class="fa fa-download">{{ object.filename }}</i></a>
  </dd>
  <dt>Eklenme Tarihi: </dt>
  <dd>{{ object.publish_date }}</dd>
  <a href="{% url "answer_create" object.lecture.slug object.slug %}" type="button" class="btn btn-success">Cevap Oluştur</a><br>
</dl>

  {% if answers %}
  <dl>
  <dt>Sizin Cevaplarınız:</dt>
  {% endif %}
  {% for answer in answers %}
  <dd>
    <a href="{{ MEDIA_URL }}{{ object.document }}">{{ forloop.counter }}.{{ object.filename }}</a>
  </dd>
  <div class="btn-group" style="padding-top:2%;">
    <a href="{% url "answer_update" object.lecture.slug object.slug answer.id %}" type="button" class="btn btn-info">Cevabı Güncelle</a>
    <a href="{% url "answer_delete" object.lecture.slug object.slug answer.id %}" type="button" class="btn btn-danger">Cevabı Sil</a>
  </div>
  <br>
  {% endfor %}
</dl>
{% endblock %}
