{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<h2 style="padding-top:5%;">{{ object.homework.slug|capfirst }}</h2>
<hr />
{% bootstrap_messages %}
<dl style="padding-top:5%;padding-bottom:2%;">
  <dt>Gönderen Kişi: </dt>
  <dd>{{ object.send_user }}</dd>
  <dt>Gönderilen Kişi: </dt>
  <dd>{{ object.to_user }}</dd>
  <dt>Eklenme Tarihi: </dt>
  <dd>{{ object.added_time }}</dd>
  {% if not permission %}
  {% for item in content %}
  <dt>{{ forloop.counter }}.Sorunuz: </dt>
  <dd>{{ item.content }}</dd>
  {% if item.answer %}
  <dt>Cevabınız: </dt>
  <dd>{{ item.answer }}</dd>

  {% else %}
  <div class="btn-group" style="padding-top:20px;">
    <a href="{% url "message_update" item.slug item.id %}" type="button" class="btn btn-info">Mesajı Güncelle</a>
    <a href="{% url "message_delete" item.slug item.id %}" type="button" class="btn btn-danger">Mesajı Sil</a>
  </div>
  <br>
  {% endif %}
  {% endfor %}
  <br><br>
  <a href="{% url "message_create" %}" type="button" class="btn btn-success">Mesaj Oluştur</a>
  {% else %}
  <dt>Soru</dt>
  <dd>{{ object.content }}</dd>
  {% if object.answer %}
  <dt>Cevap</dt>
  <dd>{{ object.answer }}</dd>
  {% else %}
  <a href="{% url "message_update" object.slug object.id %}" type="button" class="btn btn-info">Cevapla</a>
  {% endif %}

  {% endif %}
</dl>
{% endblock %}
