{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Şifreyi Sıfırla" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Şifrenizi unuttuysanız aşağıya email adresinizi yazın ve biz emailinize yapmanız gerekenleri yollayalım.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Şifreyi sıfırla' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
