{% extends "registration/registration_base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Şifreyi Sıfırla" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Şifrenizi unuttuysanız aşağıya email adresinizi yazın ve biz emailinize yapmanız gerekenleri yollayalım.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans "Onayla" %}</button>
    {% endbuttons %}
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
