{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Kayıt etkinleştirme emaili gönderildi" %}{% endblock %}

{% block content %}
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    var form = $('<form action="/" method="get">' +
    '</form>');
    $('body').append(form);
    form.submit();
  });
</script>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
